<div class="container mb-4" id="about">
  <h1>About</h1>
  <hr />
  <div class="row">
    <div class="col-sm">
      <div class="card text-white bg-light text-dark">
        <img
          class="card-img-top"
          src="https://images.unsplash.com/photo-1507090960745-b32f65d3113a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
          alt=""
        />
        <div class="card-body">
          <div class="d-flex align-items-center">
            <h3>18BCS4595</h3>
            <span class="badge bg-danger text-light"
              >Chandigarh University</span
            >
          </div>
          <p class="card-text">
            email@email.com<br />
            Phone +00000000
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card text-white bg-light text-dark">
        <img class="card-img-top" src="holder.js/100px180/" alt="" />
        <div class="card-body">
          <h4 class="card-title">Bio <i class="fas fa-address-card"></i></h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
            laborum doloremque ipsam neque dolorem et cupiditate ipsum, tempore
            accusantium officia natus eveniet nostrum? Sed perspiciatis
            consequuntur iusto, nihil tempore nesciunt ea accusantium voluptatum
            minus? Harum quod perferendis unde tenetur voluptatum nemo in!
            Similique a sequi architecto nulla culpa sit facilis nihil
            praesentium nisi aspernatur totam, autem natus, earum possimus!
            Aliquid ad ipsam, quibusdam sint accusantium non cum excepturi
            voluptates unde distinctio laborum dolorem qui obcaecati odio quam?
            Sint dolorem similique voluptate inventore cum repudiandae
            doloribus, natus blanditiis soluta harum ipsum magnam beatae.
            Eveniet quaerat optio quibusdam vitae maxime saepe enim, animi nihil
            quas eos inventore maiores aut necessitatibus praesentium ducimus
            voluptatem, unde cumque quisquam excepturi error doloremque odit
            minus sit! Exercitationem minima ipsum quo aperiam unde temporibus
            commodi quidem dolor?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
