<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#" style="font-family: 'pacifico'"
    >akashyadav</a
  >

  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-home"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li>
        <a class="nav-link" href="/visitors">visitors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sensor">Vies Sensor Data</a>
      </li>
    </ul>
  </div>
</nav>
